{% extends "layout.html" %} {% block title %}Assing Crew{% endblock %} {% block css %}
<link rel="stylesheet" href="/static/assets/examples/css/forms/layouts.css">
<link rel="stylesheet" href="/static/assets/examples/css/uikit/modals.css">
  <link rel="stylesheet" href="/static/global/vendor/alertify-js/alertify.css">
  <link rel="stylesheet" href="/static/assets/examples/css/advanced/alertify.css">
  <link rel="stylesheet" href="/static/assets/examples/css/forms/advanced.css">
  <link rel="stylesheet" href="/static/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
<link rel="stylesheet" href="/static/assets/examples/css/uikit/icon.css"> {% endblock %} {% block content %}
<div class="page">
<div class="page-content">
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-8 col-md-offset-2">
                    <div class="panel">

                        <div class="panel-heading">
                            <h3 class="panel-title"> Assing crew to a flight</h3>
                        </div>
                        <div class="panel-body">
                  <form class="form-horizontal" method="POST" action="/admin/crew">
                      <div class="form-group">
                        <label class="col-sm-3 control-label">Flight ID: </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="flight_id"autocomplete="off"
                          />
                        </div>
                      </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Personel ID: </label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="staff_id"autocomplete="off"
                          />
                        </div>
                      </div>
                    <div class="form-group">
                      <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary">Assign</button>
                      </div>
                    </div>
                  </form>
              </div>
              </div>
              </div>
          </div>
        </div>
</div>
</div>
{% endblock %}
{% block js %}
<script src="/static/global/vendor/alertify-js/alertify.js"></script>
<script src="/static/global/js/components/bootstrap-datepicker.js"></script>
<script src="/static/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="/static/assets/examples/js/forms/advanced.js"></script>
<script src="/static/global/js/components/alertify-js.js"></script>
{% endblock %}
