{% extends "passenger_base.html" %} {% block title %}Flight History{% endblock %} {% block css %}
<link rel="stylesheet" href="/static/assets/examples/css/forms/layouts.css">
<link rel="stylesheet" href="/static/assets/examples/css/uikit/modals.css">
  <link rel="stylesheet" href="/static/global/vendor/alertify-js/alertify.css">
  <link rel="stylesheet" href="/static/assets/examples/css/advanced/alertify.css">
<link rel="stylesheet" href="/static/assets/examples/css/uikit/icon.css"> {% endblock %} {% block content %}
<div class="page">
<div class="page-header">
    <h1 class="page-title"> Flight History </h1>
</div>
<div class="page-content">
    <div class="panel">
        <div class="panel-body container-fluid">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Flight ID</th>
                        <th>Date</th>
                        <th>Departure Time</th>
                        <th>ETA*</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Duration(hr)</th>
                        <th>Class</th>
                        <th>Price(TL)</th>
                        <th class="text-nowrap">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123123123123</td>
                        <td>May 15, 2015</td>
                        <td>15:25</td>
                        <td>15:15</td>
                        <td>Ankara
                            <br>
                        </td>
                        <td>Istanbul</td>
                        <td>1</td>
                        <td>Business</td>
                        <td>31</td>
                        <td class="text-nowrap">
                            <button type="button" class="btn btn-sm btn-icon btn-flat btn-default" id="confirm" data-plugin="alertify"
                            data-type="confirm" data-confirm-title="This is a confirm dialog"
                            data-success-message="Flight succesfully cancelled!" data-error-message="Action cancelled!">
                                <i class="icon wb-close" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>123123123123
                            <br>123123</td>
                        <td>May 15, 2015
                            <br> May 16, 2015</td>
                        <td>15:25
                            <br> 20:20</td>
                        <td>15:15
                            <br> 30:40</td>
                        <td>Ankara
                            <br>Istanbul</td>
                        <td>Istanbul
                            <br>San Fransisco</td>
                        <td>1123</td>
                        <td>Business
                            <br> Economic</td>
                        <td>31</td>
                        <td class="text-nowrap">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block js %}
<script src="/static/global/vendor/alertify-js/alertify.js"></script>
<script src="/static/global/js/components/alertify-js.js"></script>
{% endblock %}
