                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Flight ID</th>
                            <th>Plane ID</th>
                            <th>Model</th>
                            <th>Range(km)</th>
                            <th>Altitude(ft)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{data.flight_id}}</td>
                            <td> {{data.plane_id}}</td>
                            <td> {{data.model}}</td>
                            <td> {{data.range}}</td>
                            <td> {{data.altitude}}</td>
                        </tr>
                    </tbody>
                </table>
