<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title> Airline DB Management System </title>
</head>

<body>
    <div class="container">
        <div class="row">
            </br></br>
            <h2> <p class = "text-center"> Sign up Form </p></h2>
            </br></br>
        </div>
        <div class="row jumbotron">
            <form class="form-horizontal" method="post" action="/signup">
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email*</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password*</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password_again" class="col-sm-2 control-label">Password again*</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password_again" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Name*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="street_number" class="col-sm-2 control-label">Street Number*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="street_number" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="street" class="col-sm-2 control-label">Street*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="street" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="town" class="col-sm-2 control-label">Town*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="town" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">Phone*</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phone" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
                    </div>
                    <div class="col-sm-offset-0 col-sm-5">
                        <a href="./login" class="btn btn-default btn-lg btn-block" role="button">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
