{% extends "layout.html" %} {% block title %}Flights{% endblock %} {% block css %}
<link rel="stylesheet" href="/static/assets/examples/css/forms/layouts.css">
<link rel="stylesheet" href="/static/assets/examples/css/uikit/modals.css">
<link rel="stylesheet" href="/static/assets/examples/css/uikit/icon.css"> {% endblock %} {% block content %}
<div class="page-content">
    <div class="row padding-vertical-30">
        <div class="col-sm-12 text-center">
            <h2>Search Promotions for User</h2>
            <form role="search">
                <div class="input-search">
                    <input type="text" class="form-control round" placeholder="User ID:" id="userID">
                </div>
                <button type="button" class="btn btn-primary" id="searchButton">Search</button>
            </form>
        </div>
    </div>
    <div class="panel invisible" id="tablePanel">
        <div class="panel-body container-fluid" id="tablePanelInner">
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
{% endblock %}
{% block jquery %}
<script>
  (function(document, window, $) {
    'use strict';
    $(document).on('click', '.removeButton', function(){
        var passengerID = $(this).find('#promotionPassengerID').val();
        var promotionID = $(this).find('#promotionPromotionID').val();
        $.post('/{{session.user_type}}/flight_promotions', {action: "removePromotion", passengerID: passengerID, promotionID: promotionID})
            .done(function(data) {
                var val = JSON.parse(data);
                toastr[val['type']](val['str']);
            });
    });
    $("#searchButton").click(function() {
        var userID = $("#userID").val();
        $.post("/{{session.user_type}}/flight_promotions", {userID: userID})
            .done(function(data){
                $('#tablePanelInner').html(data);
                $("#tablePanel").removeClass("invisible");
            });
    });
    {% include 'message.html' %}
  })(document, window, jQuery);
 </script>
{% endblock %}
